<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>添加</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
	 </head>
	<body>

	<div id="control">
		<ul>
			<li>
				<form action="/file" method="post" enctype="multipart/form-data" id="form" name="form">

					<label for="file">文件名称:</label>
					
					<input type="file"id="file" value="上传文件" id="file" name="file">

					<input type="submit" value="提交">

				</form>
			</li>
		</ul>
		<p>
			<a href="javascript:;">提交</a>
		</p>
		<table>
			<tr>
				<th>序列号</th>
				<th>用户名</th>
				<th>手机号码</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			
			
			<% data.forEach(function (e){%>
				<tr>
					<td><%= e.id %></td>
					<td><%= e.name %></td>
					<td><%= e.phone %></td>
					<td><%= e.address %></td>
					<td><a href="javascript:;" class="change">修改</a><a href="javascript:;" class="delete">删除</a></td>
				</tr>
			<% }) %>
			
		</table>
	</div>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/common.js" ></script>
	</body>
</html>
