<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="投米网 - 专注于城市白领的金融服务提供商" />
		<meta name="keywords" content="投米网,财富管理、普惠金融、金融、基金、借款、贷款、高收益、高流动性、零投宝、合约宝、灵活理财" />
		<title>添加</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
	 </head>
	<body>

	<div id="control">
		<ul>
			<li>
				<form action="file" method="post" enctype="multipart/form-data">

					<label for="file">文件名称:</label>
					
					<input type="file"id="file" value="上传文件" id="file">

					<input type="submit" value="提交">

				</form>
			</li>
		</ul>
		<table>
			<tr>
				<th>序列号</th>
				<th>用户名</th>
				<th>手机号码</th>
				<th>地址</th>
				<th>操作</th>
			</tr>
			
		</table>
	</div>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/common.js" ></script>
	</body>
</html>
