<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>添加</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
	 </head>
	<body>

	<div id="control">
		<ul>
			<li>
				<!-- <form action="/file" method="post" enctype="multipart/form-data" id="form" name="form"> -->

				<label for="email">邮件名称:</label>
					
				<input type="text" name="email" id="email">

				<!-- <input type="submit" value="提交"> -->

				<!-- </form> -->
			</li>
		</ul>
		<p>
			<a href="javascript:;">提交</a>
		</p>
	</div>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/common.js" ></script>
	</body>
</html>
