<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>spider</title>
</head>
<body>
	<% key.forEach(function(e){ %>
	
	<iframe src=<%- '"'+e+'"' %>>
		
	</iframe>
	<% }) %>
	
</body>
</html>